@page "/Sample"
@page "/Sample1"
@page "/Sample2"

<h3>SamplePage</h3>


<ul>
    @foreach (var number in numbers)
    {
        <ListItem Number="@number"/>
    }
</ul>

<button @onclick="AddNumber">Add number</button>
<button @onclick="() => numbers.Add(Random.Shared.Next(0, 100))">Add number</button>

@code {

    private List<int> numbers = new()
        {
            1,
            2,
            3,
            4,
            5
        };

    private void AddNumber()
    {
        numbers.Add(Random.Shared.Next(0, 100));
    }

}
