@using Microsoft.AspNetCore.Components.Routing

<nav>
    <NavLink href="HelloWorld">Hello World Beispiel</NavLink>
    <NavLink href="Sample2">Sample 2 Beispiel</NavLink>
</nav>

<Router AppAssembly="@(typeof(Routes).Assembly)">
    <Found>
        <RouteView RouteData="context"/>
    </Found>
    <NotFound>
        <h1>Seite wurde nicht gefunden</h1>
    </NotFound>
</Router>


@code {
    
}