@page "/"
@page "/FirstSample"
@page "/FirstSample2"

<h3>App</h3>
<Expander Header="Hello World Sample">
    <Content>
       
        <HelloWorld Count="3" />

    </Content>
</Expander>

@code {

}