@page "/"
@page "/Index"
@page "/Home"
@page "/Willkommen"

<DemoComponent />
<a href="About">Zu About ...</a>

@code
{
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}
