

<button @onclick="IncreaseCounter">
    Counter=@Counter
</button>

@code 
{
    [Parameter]
    public int Counter { get; set; }

    [Parameter]
    public EventCallback<int> CounterChanged { get; set; }

    private async Task IncreaseCounter()
    {
        Counter++;
        await CounterChanged.InvokeAsync(Counter);
    }
}
