
<Router AppAssembly="typeof(App).Assembly">
    <Found>
        <RouteView RouteData="context" DefaultLayout=""/>
    </Found>
    <NotFound>
        <h1>Sorry - Not Found :-(</h1>
    </NotFound>
</Router>
