<nav class="menu">
    <ul class="nav">
        <li class="nav-item">
            <NavLink class="nav-link" href="/">Index</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/Counter">Counter</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/PersonList">Persons</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/ComponentSample">ComponentSample</NavLink>
        </li>
    </ul>
</nav>