@page
@using DwxBlazor.Server.Pages
@model DwxBlazor.Server.Pages._HostModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}

<head>

</head>
<body>

    <component type="typeof(App)" render-mode="ServerPrerendered"/>
    <script src="_framework/blazor.server.js"></script>
</body>