@inherits LayoutComponentBase

<div class="menu">
    <NavLink href="/">Home</NavLink> |
    <NavLink href="About">About</NavLink>
    <NavLink href="TodoList">Todos</NavLink>
</div>


<div class="content">
    @Body
</div>